body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}

section {
    display: flex;
}

aside {
    max-width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.comment {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}


h1, h2 {
    margin: 0;
}

img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    align-self: center;
}

.Author {
    display: flex;
    margin: 10px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: darkgray solid 1px;
    padding: 5px;
    width: 100px;
}

.forumPostText, .comment {
    display: flex;
    flex-direction: row;
}

.forumPostTime {
    color: grey;
}

p {
    margin: 5px;
}

button {
 align-items: center;
 background-color: #FFFFFF;
 border: 1px solid rgba(0, 0, 0, 0.1);
 border-radius: .25rem;
 box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
 box-sizing: border-box;
 color: rgba(0, 0, 0, 0.85);
 cursor: pointer;
 display: inline-flex;
 font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 16px;
 font-weight: 600;
 justify-content: center;
 line-height: 1.25;
 margin: 0;
 min-height: 3rem;
 padding: calc(.875rem - 1px) calc(1.5rem - 1px);
 position: relative;
 text-decoration: none;
 transition: all 250ms;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: baseline;
 width: auto;
}

button:hover,
button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

button:hover {
    transform: translateY(-1px);
}

button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.sidebar {
    padding: 5px;
    margin: 5px 0 5px 0;
    border: purple solid 1px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}
